<%# views/index.ejs %>
<!DOCTYPE html>
<html>

    <head>
        <% include ./../elements/header %>
    </head>

    <body>
        <div id="wrapper">
           
           

                <%- body %>
            
        </div>
       
    </body>

</html>